[Unit]

Description=SKF Gateway Main Application
 
Requires=skf-gw-gpio-init.service

Requires=skf-gw-bluetooth-recover.path

Requires=skf-gw-hci-conn-update.path
 
Wants=bluetooth.service
 
After=skf-gw-gpio-init.service

After=bluetooth.service

After=skf-gw-bluetooth-recover.path

After=skf-gw-hci-conn-update.path 
 
[Service]

Type=simple
 
User=skfgw

Group=skfgw
 
WorkingDirectory=/var/lib/skf-gateway

Environment=HOME=/var/lib/skf-gateway
 
ExecStart=/opt/skf-gateway/bin/skf_gw
 
Restart=on-failure

RestartSec=5
 
UMask=0077

NoNewPrivileges=true
 

[Install]

WantedBy=skf-gateway.target

