[Unit]
Description=SKF Gateway SQL Service
 
Before=skf-gw.service
Before=skf-gw-mqtt.service
 
[Service]
Type=simple
 
User=skfgw
Group=skfgw
 
WorkingDirectory=/var/lib/skf-gateway
Environment=HOME=/var/lib/skf-gateway
 
ExecStart=/opt/skf-gateway/bin/sql_op
 
Restart=always
RestartSec=5
 
UMask=0077
NoNewPrivileges=true
 
[Install]
WantedBy=skf-gateway.target
